/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px 60px;
}

header {
  width: 100%;
  height: 60vh;
  background-color: #1f2535;
  color: white;
  padding: 30px 60px;
}

header > h1 {
  font-size: 4em;
  width: 30%;
  margin-top: 60px;
}

header > p {
  padding-left: 5px;
  font-size: 1.2em;
  width: 20%;
}

header > button {
  margin-top: 2%;
  color: #1f2535;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

header div.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header div.container img:first-child {
  width: auto;
  height: 40px;
}

header div.container img:nth-child(2) {
  width: auto;
  height: 12px;
}

section.section {
  display: flex;
  justify-content: center;
  height: 40vh;
  color: #1f2535;
  padding: 20px;
  margin-top: 70px;
}

article.card {
  width: 15%;
}

article.card p {
  width: 70%;
  padding-left: 15px;
  font-size: 1.1em;
}

article.card h2 {
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 1.6em;
}

article.card img {
  height: 130px;
  width: 130px;
}
